.AppContainer {
    position: relative;
    padding: 20px;
    max-width: 1440px;
}

.JokesContainer {
    max-width: 680px;
}

.Title {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #333;
    margin-bottom: 70px;
}

.Greeting {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #333;
}

.Propmting {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 44px;
    color: #333;
    margin-bottom: 40px;
}

@media (min-width: 834px) {
    .AppContainer {
        padding: 40px;
    }
}

@media (min-width: 1440px) {
    .AppContainer {
        padding: 40px 140px;
    }
}